@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:600");
.request-form {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1044px;
  padding: 74px 62px;
  width: 1440px;
}
.request-form .ellipse-571 {
  height: 4px;
  margin-bottom: 0.35px;
  width: 4px;
}
.request-form .ellipse-572 {
  height: 5px;
  width: 5px;
}
.request-form .ellipse-573 {
  height: 4px;
  width: 3px;
}
.request-form .ellipse-574 {
  height: 4px;
  left: 4px;
  position: absolute;
  top: 2px;
  width: 4px;
}
.request-form .ellipse-575 {
  height: 3px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 3px;
}
.request-form .ellipse-576 {
  height: 3px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}
.request-form .ellipse-577 {
  align-self: flex-start;
  height: 4px;
  width: 3px;
}
.request-form .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -0.81px;
  min-height: 12px;
  width: 13px;
}
.request-form .flex-row {
  align-items: flex-end;
  display: flex;
  height: 7px;
  margin-left: 1.75px;
  min-width: 11px;
}
.request-form .group-967 {
  align-items: flex-start;
  display: flex;
  height: 12px;
  left: 7px;
  min-width: 20px;
  position: absolute;
  top: 33px;
}
.request-form .group-968 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  justify-content: center;
  min-width: 44px;
}
.request-form .group-997 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  margin-left: 2px;
  min-width: 358px;
}
.request-form .intersect {
  height: 19px;
  left: 5px;
  position: absolute;
  top: 29px;
  width: 27px;
}
.request-form .med-share {
  height: 47px;
  margin-bottom: -0.42px;
  margin-left: 28px;
  width: 286px;
}
.request-form .overlap-group {
  height: 50px;
  margin-top: -2.48px;
  position: relative;
  width: 48px;
}
.request-form .overlap-group1 {
  height: 6px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 8px;
}
.request-form .overlap-group2 {
  align-self: flex-end;
  height: 8px;
  margin-bottom: -0.81px;
  position: relative;
  width: 8px;
}
.request-form .rectangle-2836 {
  height: 32px;
  left: 2px;
  position: absolute;
  top: 16px;
  width: 30px;
}
.request-form .rectangle-2837 {
  height: 46px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 44px;
}
.request-form .rectangle-2837-stroke {
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.request-form .rectangle-2840 {
  background-color: var(--mist-gray);
  height: 774px;
  margin-left: 1px;
  margin-top: 51px;
  width: 1309px;
}
.request-form .subtract {
  height: 45px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 41px;
}
.request-form .text-1 {
  letter-spacing: 0px;
  margin-top: 65px;
  min-height: 33px;
}
.request-form .vector-1225-stroke {
  height: 8px;
  left: 27px;
  position: absolute;
  top: 5px;
  width: 8px;
}
.request-form .vector-1226-stroke {
  height: 15px;
  left: 20px;
  position: absolute;
  top: 5px;
  width: 15px;
}
* {
  box-sizing: border-box;
}
.nunito-semi-bold-mirage-24px {
  color: var(--mirage);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
:root {
  --font-family-nunito: "Nunito", Helvetica;
  --font-size-l: 24px;
  --mirage: rgba(20, 20, 42, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --white: rgba(255, 255, 255, 1);
}
